/* Style for the body */
body {
  background: linear-gradient(
    to right,
    rgba(8, 252, 116, 0.8),
    rgba(8, 252, 116, 0.3),
    transparent 61%,
    rgba(41, 41, 182, 0.3),
    rgba(41, 41, 182, 0.8)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Style for the calculator */
.buttons {
  background-color: #080c24;
  width: 225px;
  height: 450px;
  border-radius: 30px;
  margin-top: 60px;
  padding-top: 5px;
}

/* Style for the content within the calculator */
button {
  background-color: #080c24;
  color: white;
  padding: 0;
  margin: 10;
  border: none;
  width: 20px;
  height: 15px;
  font-size: 25px;
  margin: 15px;
}

/* Style for the input and result display */
#inp {
  background-color: #080c24;
  margin-bottom: 0px;
  height: 50px;
  margin-top: 20px;
}

#res {
  background-color: #172d67;
  margin-top: 0;
  margin-bottom: 0px;
  height: 100px;
}
p {
  color: white;
}
